* {
    margin: 0;
    padding: 0;
    margin: auto;
}

.header-container {
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    width: 80%;
    height: 100%;
    background-color: teal;
    padding: 50px 0px;
    padding-top: 125px;
}

h2 {
    color: white;
    font-size: 40px;
    filter: drop-shadow(2px 2px 2px black);
}

#score-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}

.score-card {
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    height: 200px;
    width: 200px;
    background-color: white;
    filter:drop-shadow(2px 2px 2px black);
}

.score-card span {
    font-size: 70px;
}

.score-card label {
    font-size: 25px;    
    border-bottom: 2px solid black;
}

#container {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    margin: 10px;
}

.player-button {
    width: 100px;
    height: 60px;
    border-radius: 5px;
    margin: 5px;
}

button:active {
    background-color: gray;
    color: white;
}

.round-summary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin: 10px;
    color: white;
    font-size: 30px;
    min-height: 82px;
}

.fade-out {
    opacity: 0.25;
}

#play-again-container {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 22%;
    left: 33.5%;
    background-color: white;
    height: 200px;
    width: 30%;
    border: 2px black solid;
    border-radius: 5px;
    padding: 20px;
    z-index: 1;
}

